*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #ffffff;
}

html[data-theme="dark"] {
  background-color: #0a0a0b;
}

body {
  margin: 0;
  padding: 0;
  background-color: inherit;
}
